*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #8bc6ec;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    background-color: #000000;
    padding: 25px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
}

.calc-text{
    margin-bottom: 20px;
    padding-left: 5px;
}
.calc-text output{
    display: block;   
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}


button{
    background: #333333;
    color: #fff;
    font-size: 1.8rem;
    border:none;
    border-radius:50%;
    cursor: pointer;
    height: 70px;
    width: 70px;
}
button:active,
button:focus{
    filter:brightness(120%);
}
.teclitas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}

.Numero0{
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
}
.Operacion{
    background: #ff9501;
}
.Simbolo{
    background: #a6a6a6;
    color: #000000;
}